In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv('Absenteeism_data.csv')
raw_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [8]:
data = raw_data.drop(['ID'], axis = 1)
data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [10]:
data_no_age = data.drop(['Age'], axis = 1)
data_no_age

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,237.656,25,1,1,1,2

In [12]:
data_no_age['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [14]:
sorted(data_no_age['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [16]:
reasons_column  = pd.get_dummies(data_no_age['Reason for Absence'])
reasons_column

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
reasons_column['Total'] = reasons_column.sum(axis = 1)
reasons_column

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,Total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [23]:
reasons_column  = pd.get_dummies(data_no_age['Reason for Absence'], drop_first = True)
reasons_column

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
reasons_column['Total'].sum(axis=0)

700

In [19]:
reasons_column['Total'].unique()

array([1], dtype=int64)

In [20]:
age_dummies = pd.get_dummies(data['Age'])
age_dummies

,27,28,29,30,31,32,33,34,36,37,...,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
696,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [26]:
data = data_no_age.drop(['Reason for Absence'], axis = 1)
data

,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,239.554,30,1,2,1,4
1,14/07/2015,118,13,239.554,31,1,1,0,0
2,15/07/2015,179,51,239.554,31,1,0,0,2
3,16/07/2015,279,5,239.554,24,1,2,0,4
4,23/07/2015,289,36,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,237.656,22,2,2,0,8
696,23/05/2018,225,26,237.656,24,1,1,2,3
697,24/05/2018,330,16,237.656,25,2,0,0,8
698,24/05/2018,235,16,237.656,25,3,0,0,2
699,31/05/2018,291,31,237.656,25,1,1,1,2

In [29]:
reason_1 = reasons_column.loc[:, 1:14].max(axis = 1)
reason_2 = reasons_column.loc[:, 15:17].max(axis = 1)
reason_3 = reasons_column.loc[:, 18:21].max(axis = 1)
reason_4 = reasons_column.loc[:, 22:].max(axis = 1)

In [30]:
data = pd.concat([data, reason_1, reason_2, reason_3, reason_4], axis = 1)
data

,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,237.656,25,1,1,1,2,0,0,0,1

In [62]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [32]:
data

,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,237.656,25,1,1,1,2,0,0,0,1

In [34]:
data.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [49]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']
data.columns = column_names
data

,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,237.656,25,1,1,1,2,0,0,0,1

In [50]:
column_name_reorder =  ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [51]:
data = data[column_name_reorder]
data

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,237.656,25,2,0,0,8
698,0,0,0,1,24/05/2018,235,16,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,237.656,25,1,1,1,2

In [58]:
df_reason_mod = data.copy()

In [64]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [63]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-07-10
6     2015-07-17
7     2015-07-24
8     2015-07-06
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-08-05
20    2015-08-12
21    2015-08-03
22    2015-08-10
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-08-04
27    2015-08-12
28    2015-08-19
29    2015-08-28
30    2015-08-17
31    2015-08-27
32    2015-08-27
33    2015-08-17
34    2015-08-17
35    2015-08-17
36    2015-08-04
37    2015-08-20
38    2015-08-21
39    2015-08-28
40    2015-09-01
41    2015-09-07
42    2015-09-01
43    2015-09-08
44    2015-09-09
45    2015-09-13
46    2015-09-14
47    2015-09-24
48    2015-09-04
49    2015-09-14
50    2015-09-21
51    2015-09-28
52    2015-09-08
53    2015-09-15
54    2015-09-22
55    2015-09-29
56    2015-09-16
57    2015-09-23
58    2015-09-30
59    2015-09-11
60    2015-09-18
61    2015-09-25
62    2015-10-06
63    2015-10-13
64    2015-10-14
65    2015-10-15
66    2015-10-16
67    2015-10-16
68    2015-10-06
69    2015-10-14
70    2015-10-21
71    2015-10-22
72    2015-10-21
73    2015-10-21
74    2015-10-22
75    2015-10-13
76    2015-10-20
77    2015-10-21
78    2015-10-23
79    2015-10-30
80    2015-11-05
81    2015-11-04
82    2015-11-05
83    2015-11-12
84    2015-11-19
85    2015-11-02
86    2015-11-09
87    2015-11-16
88    2015-11-18
89    2015-11-20
90    2015-11-18
91    2015-11-25
92    2015-11-20
93    2015-11-27
94    2015-11-02
95    2015-11-10
96    2015-11-11
97    2015-11-26
98    2015-12-01
99    2015-12-01
100   2015-12-02
101   2015-12-02
102   2015-12-03
103   2015-12-04
104   2015-12-08
105   2015-12-09
106   2015-12-10
107   2015-12-11
108   2015-12-15
109   2015-12-16
110   2015-12-11
111   2015-12-18
112   2015-12-18
113   2016-01-06
114   2016-01-04
115   2016-01-05
116   2016-01-05
117   2016-01-06
118   2016-01-07
119   2016-01-07
120   2016-01-08
121   2016-01-11
122   2016-01-12
123   2016-01-12
124   2016-01-13
125   2016-01-14
126   2016-01-15
127   2016-01-11
128   2016-01-12
129   2016-01-12
130   2016-01-12
131   2016-01-13
132   2016-01-21
133   2016-01-28
134   2016-01-25
135   2016-01-26
136   2016-01-28
137   2016-02-05
138   2016-02-03
139   2016-02-10
140   2016-02-11
141   2016-02-11
142   2016-02-12
143   2016-02-12
144   2016-02-08
145   2016-02-09
146   2016-02-15
147   2016-02-09
148   2016-02-16
149   2016-02-23
150   2016-02-25
151   2016-02-15
152   2016-02-16
153   2016-02-17
154   2016-02-25
155   2016-03-01
156   2016-03-01
157   2016-03-08
158   2016-03-15
159   2016-03-16
160   2016-03-02
161   2016-03-03
162   2016-03-04
163   2016-03-04
164   2016-03-07
165   2016-03-14
166   2016-03-21
167   2016-03-22
168   2016-03-24
169   2016-03-24
170   2016-03-25
171   2016-03-25
172   2016-03-28
173   2016-03-29
174   2016-03-30
175   2016-03-28
176   2016-03-28
177   2016-03-29
178   2016-03-30
179   2016-03-30
180   2016-03-17
181   2016-03-18
182   2016-03-25
183   2016-03-28
184   2016-04-06
185   2016-04-13
186   2016-04-12
187   2016-04-13
188   2016-04-14
189   2016-04-15
190   2016-04-15
191   2016-04-06
192   2016-04-07
193   2016-04-08
194   2016-04-08
195   2016-04-22
196   2016-04-29
197   2016-04-29
198   2016-04-26
199   2016-04-27
200   2016-04-27
201   2016-04-28
202   2016-04-08
203   2016-04-04
204   2016-05-04
205   2016-05-05
206   2016-05-02
207   2016-05-03
208   2016-05-03
209   2016-05-11
210   2016-05-09
211   2016-05-10
212   2016-05-04
213   2016-05-11
214   2016-05-18
215   2016-05-25
216   2016-05-25
217   2016-05-24
218   2016-05-11
219   2016-05-27
220   2016-06-06
221   2016-06-13
222   2016-06-14
223   2016-06-16
224   2016-06-17
225   2016-06-13
226   2016-06-20
227   2016-06-27
228   2016-06-29
229   2016-06-03
230   2016-06-07
231   2016-06-08
232   2016-06-09
233   2016-06-10
234   2016-06-20
235   2016-06-30
236   2016-07-05
237   2016-07-06
238   2016-07-08
239   2016-07-08
240   2016-07-12
241   2016-07-14
242   2016-07-15
243   2016-07-18
244   2016-07-19
245   2016-07-18
246   2016-07-19
247   2016-07-20
248   2016-07-21
249   2016-07-11
250   2016-07-14
251   2016-07-21
252   2016-08-04
253   2016-08-11
254   2016-08-07
255   2016-08-08
256   2016-08-10
257   2016-08-10
258   2016-08-11
259   2016-08-08
260   2016-08-09
261   2016-08-10
262   2016-08-10
263   2016-08-10
264   2016-08-14
265   2016-08-15
266   2016-08-17
267   2016-08-24
268   2016-08-08
269   2016-08-30
270   2016-09-05
271   2016-09-09
272   2016-09-07
273   2016-09-08
274   2016-09-12
275   2016-09-13
276   2016-09-13
277   2016-09-13
278   2016-09-14
279   2016-09-14
280   2016-09-15
281   2016-09-16
282   2016-09-16
283   2016-09-14
284   2016-09-15
285   2016-09-15
286   2016-09-16
287   2016-09-26
288   2016-09-26
289   2016-10-05
290   2016-10-05
291   2016-10-05
292   2016-10-06
293   2016-10-06
294   2016-10-06
295   2016-10-12
296   2016-10-12
297   2016-10-12
298   2016-10-14
299   2016-10-14
300   2016-10-14
301   2016-10-15
302   2016-10-16
303   2016-10-16
304   2016-10-19
305   2016-10-19
306   2016-10-20
307   2016-10-20
308   2016-10-22
309   2016-10-22
310   2016-10-26
311   2016-10-27
312   2016-10-27
313   2016-10-27
314   2016-10-28
315   2016-10-28
316   2016-10-29
317   2016-11-07
318   2016-11-07
319   2016-11-08
320   2016-11-11
321   2016-11-14
322   2016-11-14
323   2016-11-14
324   2016-11-14
325   2016-11-15
326   2016-11-16
327   2016-11-16
328   2016-11-17
329   2016-11-17
330   2016-11-18
331   2016-11-18
332   2016-11-21
333   2016-11-22
334   2016-11-23
335   2016-11-25
336   2016-11-25
337   2016-11-29
338   2016-11-24
339   2016-12-05
340   2016-12-05
341   2016-12-05
342   2016-12-05
343   2016-12-06
344   2016-12-09
345   2016-12-15
346   2016-12-15
347   2016-12-16
348   2016-12-20
349   2016-12-20
350   2016-12-22
351   2016-12-23
352   2016-12-20
353   2016-12-20
354   2016-12-21
355   2016-12-19
356   2016-12-19
357   2016-12-19
358   2017-01-04
359   2017-01-09
360   2017-01-09
361   2017-01-03
362   2017-01-03
363   2017-01-09
364   2017-01-11
365   2017-01-16
366   2017-01-16
367   2017-01-25
368   2017-01-27
369   2017-02-07
370   2017-02-01
371   2017-02-01
372   2017-02-03
373   2017-02-10
374   2017-02-17
375   2017-02-13
376   2017-02-15
377   2017-02-16
378   2017-02-16
379   2017-02-17
380   2017-02-13
381   2017-02-13
382   2017-02-21
383   2017-02-21
384   2017-02-22
385   2017-02-22
386   2017-02-24
387   2017-02-24
388   2017-02-22
389   2017-02-24
390   2017-03-07
391   2017-03-08
392   2017-03-10
393   2017-03-10
394   2017-03-13
395   2017-03-13
396   2017-03-14
397   2017-03-14
398   2017-03-20
399   2017-03-22
400   2017-03-22
401   2017-03-23
402   2017-03-24
403   2017-03-28
404   2017-03-29
405   2017-03-30
406   2017-03-30
407   2017-03-30
408   2017-03-31
409   2017-03-31
410   2017-03-27
411   2017-03-28
412   2017-04-05
413   2017-04-07
414   2017-04-07
415   2017-04-10
416   2017-04-10
417   2017-04-12
418   2017-04-12
419   2017-04-17
420   2017-04-19
421   2017-04-28
422   2017-04-28
423   2017-04-24
424   2017-04-26
425   2017-05-01
426   2017-05-03
427   2017-05-08
428   2017-05-10
429   2017-05-10
430   2017-05-11
431   2017-05-12
432   2017-05-15
433   2017-05-15
434   2017-05-17
435   2017-05-17
436   2017-05-19
437   2017-05-22
438   2017-05-22
439   2017-05-29
440   2017-05-31
441   2017-06-05
442   2017-06-05
443   2017-06-06
444   2017-06-08
445   2017-06-09
446   2017-06-09
447   2017-06-12
448   2017-06-12
449   2017-06-13
450   2017-06-19
451   2017-06-20
452   2017-06-26
453   2017-06-28
454   2017-06-28
455   2017-06-28
456   2017-06-28
457   2017-06-30
458   2017-06-27
459   2017-06-27
460   2017-07-06
461   2017-07-06
462   2017-07-07
463   2017-07-10
464   2017-07-14
465   2017-07-14
466   2017-07-17
467   2017-07-18
468   2017-07-24
469   2017-07-24
470   2017-07-25
471   2017-07-25
472   2017-07-25
473   2017-07-28
474   2017-07-28
475   2017-07-24
476   2017-07-24
477   2017-07-25
478   2017-07-27
479   2017-07-27
480   2017-08-03
481   2017-08-07
482   2017-08-08
483   2017-08-08
484   2017-08-08
485   2017-08-08
486   2017-08-10
487   2017-08-14
488   2017-08-15
489   2017-08-17
490   2017-08-22
491   2017-08-22
492   2017-08-22
493   2017-08-24
494   2017-08-28
495   2017-09-05
496   2017-09-05
497   2017-09-05
498   2017-09-05
499   2017-09-07
500   2017-09-08
501   2017-09-08
502   2017-09-11
503   2017-09-13
504   2017-09-18
505   2017-09-19
506   2017-09-26
507   2017-10-05
508   2017-10-05
509   2017-10-06
510   2017-10-11
511   2017-10-11
512   2017-10-17
513   2017-10-19
514   2017-10-20
515   2017-10-24
516   2017-10-24
517   2017-10-24
518   2017-10-24
519   2017-10-24
520   2017-10-25
521   2017-10-25
522   2017-10-25
523   2017-10-26
524   2017-10-26
525   2017-10-27
526   2017-10-27
527   2017-10-29
528   2017-10-29
529   2017-10-29
530   2017-10-29
531   2017-10-31
532   2017-11-07
533   2017-11-08
534   2017-11-08
535   2017-11-10
536   2017-11-14
537   2017-11-15
538   2017-11-17
539   2017-11-17
540   2017-11-21
541   2017-11-22
542   2017-11-23
543   2017-11-23
544   2017-11-27
545   2017-11-27
546   2017-11-28
547   2017-11-28
548   2017-11-28
549   2017-11-29
550   2017-11-30
551   2017-11-30
552   2017-11-24
553   2017-11-24
554   2017-11-27
555   2017-12-05
556   2017-12-06
557   2017-12-06
558   2017-12-08
559   2017-12-08
560   2017-12-13
561   2017-12-14
562   2017-12-15
563   2017-12-15
564   2017-12-18
565   2017-12-19
566   2017-12-19
567   2017-12-21
568   2017-12-18
569   2017-12-19
570   2018-01-01
571   2018-01-04
572   2018-01-04
573   2018-01-05
574   2018-01-08
575   2018-01-10
576   2018-01-11
577   2018-01-12
578   2018-01-15
579   2018-01-16
580   2018-01-17
581   2018-01-17
582   2018-01-17
583   2018-01-18
584   2018-01-26
585   2018-02-06
586   2018-02-06
587   2018-02-07
588   2018-02-07
589   2018-02-08
590   2018-02-08
591   2018-02-08
592   2018-02-09
593   2018-02-09
594   2018-02-12
595   2018-02-12
596   2018-02-13
597   2018-02-14
598   2018-02-15
599   2018-02-15
600   2018-02-15
601   2018-02-16
602   2018-02-16
603   2018-02-21
604   2018-02-21
605   2018-02-21
606   2018-02-22
607   2018-02-23
608   2018-02-26
609   2018-02-26
610   2018-02-26
611   2018-02-26
612   2018-02-27
613   2018-02-27
614   2018-02-27
615   2018-02-28
616   2018-02-22
617   2018-02-23
618   2018-03-05
619   2018-03-05
620   2018-03-06
621   2018-03-06
622   2018-03-06
623   2018-03-07
624   2018-03-08
625   2018-03-08
626   2018-03-08
627   2018-03-09
628   2018-03-12
629   2018-03-12
630   2018-03-13
631   2018-03-14
632   2018-03-15
633   2018-03-16
634   2018-03-19
635   2018-03-19
636   2018-03-19
637   2018-03-19
638   2018-03-20
639   2018-03-21
640   2018-03-21
641   2018-03-21
642   2018-03-22
643   2018-03-22
644   2018-03-23
645   2018-03-23
646   2018-03-27
647   2018-03-28
648   2018-03-28
649   2018-03-28
650   2018-03-29
651   2018-03-26
652   2018-03-26
653   2018-03-28
654   2018-04-02
655   2018-04-02
656   2018-04-03
657   2018-04-04
658   2018-04-05
659   2018-04-06
660   2018-04-09
661   2018-04-10
662   2018-04-10
663   2018-04-10
664   2018-04-11
665   2018-04-13
666   2018-04-13
667   2018-04-16
668   2018-04-17
669   2018-04-20
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-05-07
675   2018-05-09
676   2018-05-09
677   2018-05-09
678   2018-05-09
679   2018-05-10
680   2018-05-10
681   2018-05-10
682   2018-05-11
683   2018-05-11
684   2018-05-11
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, dtype: datetime64[ns]

In [66]:
df_reason_mod['Date'][0].month

7

In [67]:
list_months = []
for i in range(700):
    list_months.append(df_reason_mod['Date'][i].month)
list_months

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [68]:
df_reason_mod['Month Value'] = list_months
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-07-10,179,51,239.554,31,1,0,0,2,7
6,0,0,0,1,2015-07-17,361,52,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-07-06,155,12,239.554,25,1,2,0,40,7
9,0,0,0,1,2015-07-13,235,11,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-08-05,248,25,205.917,32,1,2,1,2,8
20,1,0,0,0,2015-08-12,330,16,205.917,25,2,0,0,8,8
21,1,0,0,0,2015-08-03,179,51,205.917,31,1,0,0,1,8
22,1,0,0,0,2015-08-10,361,52,205.917,27,1,1,4,40,8
23,0,0,0,1,2015-08-14,260,50,205.917,23,1,4,0,4,8
24,0,0,1,0,2015-08-17,289,36,205.917,30,1,2,1,8,8
25,0,0,0,1,2015-08-24,361,52,205.917,27,1,1,4,7,8
26,0,0,0,1,2015-08-04,289,36,205.917,30,1,2,1,1,8
27,0,0,0,1,2015-08-12,157,27,205.917,22,1,0,0,4,8
28,0,0,1,0,2015-08-19,289,36,205.917,30,1,2,1,8,8
29,0,0,0,1,2015-08-28,179,51,205.917,31,1,0,0,2,8
30,0,0,1,0,2015-08-17,179,51,205.917,31,1,0,0,8,8
31,0,0,1,0,2015-08-27,235,29,205.917,33,1,1,5,8,8
32,0,0,0,1,2015-08-27,235,11,205.917,29,3,1,1,4,8
33,0,0,1,0,2015-08-17,235,29,205.917,33,1,1,5,8,8
34,0,0,0,1,2015-08-17,179,51,205.917,31,1,0,0,2,8
35,0,0,0,1,2015-08-17,361,52,205.917,27,1,1,4,1,8
36,0,0,0,1,2015-08-04,289,36,205.917,30,1,2,1,8,8
37,1,0,0,0,2015-08-20,291,50,205.917,23,1,0,0,4,8
38,0,0,0,1,2015-08-21,235,29,205.917,33,1,1,5,8,8
39,0,0,0,1,2015-08-28,260,50,205.917,23,1,4,0,4,8
40,0,0,0,1,2015-09-01,184,42,241.476,21,1,0,0,2,9
41,0,0,0,1,2015-09-07,118,10,241.476,28,1,0,0,4,9
42,0,0,0,1,2015-09-01,179,51,241.476,31,1,0,0,4,9
43,0,0,1,0,2015-09-08,235,20,241.476,38,1,1,0,8,9
44,0,0,0,1,2015-09-09,155,12,241.476,25,1,2,0,2,9
45,0,0,0,1,2015-09-13,118,10,241.476,28,1,0,0,3,9
46,0,0,0,1,2015-09-14,179,51,241.476,31,1,0,0,3,9
47,0,0,0,1,2015-09-24,291,31,241.476,25,1,1,1,4,9
48,0,0,0,1,2015-09-04,260,50,241.476,23,1,4,0,8,9
49,1,0,0,0,2015-09-14,291,31,241.476,25,1,1,1,32,9
50,0,0,0,0,2015-09-21,260,50,241.476,23,1,4,0,0,9
51,0,0,0,0,2015-09-28,225,26,241.476,24,1,1,2,0,9
52,0,0,0,1,2015-09-08,225,26,241.476,24,1,1,2,2,9
53,0,0,0,1,2015-09-15,118,10,241.476,28,1,0,0,2,9
54,0,0,0,0,2015-09-22,289,36,241.476,30,1,2,1,0,9
55,0,0,0,0,2015-09-29,118,13,241.476,31,1,1,0,0,9
56,0,0,1,0,2015-09-16,225,26,241.476,24,1,1,2,3,9
57,0,0,0,1,2015-09-23,179,51,241.476,31,1,0,0,3,9
58,0,0,0,0,2015-09-30,369,17,241.476,25,1,3,0,0,9
59,0,0,0,1,2015-09-11,248,25,241.476,32,1,2,1,1,9
60,0,0,0,1,2015-09-18,179,51,241.476,31,1,0,0,3,9
61,0,0,0,1,2015-09-25,260,50,241.476,23,1,4,0,4,9
62,0,0,0,1,2015-10-06,179,51,253.465,31,1,0,0,3,10
63,0,0,0,1,2015-10-13,118,10,253.465,28,1,0,0,3,10
64,0,0,0,0,2015-10-14,118,13,253.465,31,1,1,0,0,10
65,0,0,0,1,2015-10-15,179,26,253.465,19,3,0,0,1,10
66,0,0,0,1,2015-10-16,179,51,253.465,31,1,0,0,3,10
67,0,0,0,1,2015-10-16,225,26,253.465,24,1,1,2,3,10
68,0,0,0,1,2015-10-06,118,10,253.465,28,1,0,0,3,10
69,0,0,0,1,2015-10-14,225,26,253.465,24,1,1,2,2,10
70,0,0,0,1,2015-10-21,248,25,253.465,32,1,2,1,2,10
71,0,0,0,1,2015-10-22,291,31,253.465,25,1,1,1,5,10
72,0,0,0,1,2015-10-21,179,51,253.465,31,1,0,0,8,10
73,0,0,0,1,2015-10-21,225,26,253.465,24,1,1,2,3,10
74,0,0,1,0,2015-10-22,260,50,253.465,23,1,4,0,16,10
75,1,0,0,0,2015-10-13,291,31,253.465,25,1,1,1,8,10
76,0,0,0,1,2015-10-20,225,26,253.465,24,1,1,2,2,10
77,0,0,0,1,2015-10-21,289,36,253.465,30,1,2,1,8,10
78,0,0,0,1,2015-10-23,361,52,253.465,27,1,1,4,1,10
79,0,0,0,1,2015-10-30,260,50,253.465,23,1,4,0,3,10
80,0,0,0,1,2015-11-05,179,51,306.345,31,1,0,0,1,11
81,0,0,0,1,2015-11-04,225,26,306.345,24,1,1,2,1,11
82,1,0,0,0,2015-11-05,179,51,306.345,31,1,0,0,8,11
83,0,0,1,0,2015-11-12,179,22,306.345,22,2,2,0,8,11
84,0,0,0,1,2015-11-19,291,31,306.345,25,1,1,1,5,11
85,1,0,0,0,2015-11-02,155,12,306.345,25,1,2,0,32,11
86,0,0,0,1,2015-11-09,189,29,306.345,25,1,2,2,8,11
87,1,0,0,0,2015-11-16,291,31,306.345,25,1,1,1,40,11
88,0,0,0,1,2015-11-18,225,26,306.345,24,1,1,2,1,11
89,1,0,0,0,2015-11-20,155,12,306.345,25,1,2,0,8,11
90,0,0,0,1,2015-11-18,225,26,306.345,24,1,1,2,3,11
91,0,0,1,0,2015-11-25,179,22,306.345,22,2,2,0,8,11
92,1,0,0,0,2015-11-20,225,26,306.345,24,1,1,2,3,11
93,0,0,0,1,2015-11-27,260,50,306.345,23,1,4,0,4,11
94,0,0,0,1,2015-11-02,248,25,306.345,32,1,2,1,1,11
95,0,0,0,1,2015-11-10,225,26,306.345,24,1,1,2,3,11
96,1,0,0,0,2015-11-11,289,36,306.345,30,1,2,1,24,11
97,0,0,0,1,2015-11-26,291,31,306.345,25,1,1,1,3,11
98,0,0,0,1,2015-12-01,248,25,261.306,32,1,2,1,1,12
99,0,0,1,0,2015-12-01,118,10,261.306,28,1,0,0,64,12
100,0,0,0,1,2015-12-02,118,13,261.306,31,1,1,0,2,12
101,0,0,0,1,2015-12-02,235,11,261.306,29,3,1,1,8,12
102,0,0,0,1,2015-12-03,225,26,261.306,24,1,1,2,2,12
103,0,0,0,1,2015-12-04,260,50,261.306,23,1,4,0,8,12
104,0,0,1,0,2015-12-08,118,10,261.306,28,1,0,0,56,12
105,0,0,0,1,2015-12-09,361,52,261.306,27,1,1,4,8,12
106,0,0,0,1,2015-12-10,225,26,261.306,24,1,1,2,3,12
107,0,0,0,1,2015-12-11,260,50,261.306,23,1,4,0,3,12
108,0,0,0,1,2015-12-15,225,26,261.306,24,1,1,2,2,12
109,0,0,0,1,2015-12-16,361,52,261.306,27,1,1,4,8,12
110,0,0,0,1,2015-12-11,118,10,261.306,28,1,0,0,2,12
111,0,0,1,0,2015-12-18,246,25,261.306,23,1,0,0,8,12
112,0,0,0,1,2015-12-18,225,26,261.306,24,1,1,2,2,12
113,0,0,0,1,2016-01-06,225,26,308.593,24,1,1,2,1,1
114,0,0,1,0,2016-01-04,118,10,308.593,28,1,0,0,1,1
115,0,0,0,1,2016-01-05,118,10,308.593,28,1,0,0,1,1
116,0,0,1,0,2016-01-05,155,12,308.593,25,1,2,0,8,1
117,0,0,0,1,2016-01-06,225,26,308.593,24,1,1,2,2,1
118,0,0,0,1,2016-01-07,184,42,308.593,21,1,0,0,2,1
119,0,0,0,1,2016-01-07,225,26,308.593,24,1,1,2,2,1
120,0,0,0,1,2016-01-08,225,26,308.593,24,1,1,2,1,1
121,0,0,0,1,2016-01-11,118,10,308.593,28,1,0,0,2,1
122,0,0,0,1,2016-01-12,225,26,308.593,24,1,1,2,2,1
123,0,0,0,1,2016-01-12,118,10,308.593,28,1,0,0,2,1
124,0,0,0,1,2016-01-13,118,10,308.593,28,1,0,0,2,1
125,0,0,0,1,2016-01-14,118,10,308.593,28,1,0,0,2,1
126,0,0,0,1,2016-01-15,118,10,308.593,28,1,0,0,2,1
127,0,0,0,1,2016-01-11,118,10,308.593,28,1,0,0,2,1
128,0,0,0,1,2016-01-12,118,10,308.593,28,1,0,0,2,1
129,0,0,1,0,2016-01-12,179,26,308.593,19,3,0,0,8,1
130,0,0,1,0,2016-01-12,289,36,308.593,30,1,2,1,8,1
131,0,0,0,1,2016-01-13,118,10,308.593,28,1,0,0,2,1
132,0,0,0,1,2016-01-21,184,42,308.593,21,1,0,0,2,1
133,0,0,0,1,2016-01-28,118,10,308.593,28,1,0,0,2,1
134,0,0,0,1,2016-01-25,118,10,308.593,28,1,0,0,0,1
135,0,0,0,1,2016-01-26,225,26,308.593,24,1,1,2,1,1
136,0,0,0,1,2016-01-28,289,36,308.593,30,1,2,1,3,1
137,0,0,0,1,2016-02-05,184,42,302.585,21,1,0,0,1,2
138,1,0,0,0,2016-02-03,246,25,302.585,23,1,0,0,8,2
139,1,0,0,0,2016-02-10,179,51,302.585,31,1,0,0,8,2
140,0,0,0,1,2016-02-11,155,12,302.585,25,1,2,0,2,2
141,0,0,0,1,2016-02-11,189,29,302.585,25,1,2,2,8,2
142,0,0,0,1,2016-02-12,260,50,302.585,23,1,4,0,2,2
143,0,0,0,1,2016-02-12,289,36,302.585,30,1,2,1,8,2
144,1,0,0,0,2016-02-08,388,15,302.585,24,1,0,0,8,2
145,1,0,0,0,2016-02-09,388,15,302.585,24,1,0,0,8,2
146,0,0,0,1,2016-02-15,225,26,302.585,24,1,1,2,2,2
147,0,0,0,1,2016-02-09,225,26,302.585,24,1,1,2,2,2
148,0,0,0,1,2016-02-16,179,26,302.585,19,3,0,0,1,2
149,0,0,0,1,2016-02-23,184,42,302.585,21,1,0,0,8,2
150,0,0,0,1,2016-02-25,225,26,302.585,24,1,1,2,3,2
151,0,0,1,0,2016-02-15,330,16,302.585,25,2,0,0,8,2
152,0,0,0,1,2016-02-16,330,16,302.585,25,2,0,0,1,2
153,0,0,0,1,2016-02-17,225,26,302.585,24,1,1,2,1,2
154,0,0,1,0,2016-02-25,189,29,302.585,25,1,2,2,8,2
155,0,0,0,1,2016-03-01,291,50,343.253,23,1,0,0,2,3
156,0,0,1,0,2016-03-01,260,50,343.253,23,1,4,0,8,3
157,0,0,1,0,2016-03-08,157,27,343.253,22,1,0,0,3,3
158,0,1,0,0,2016-03-15,179,22,343.253,22,2,2,0,8,3
159,0,0,0,1,2016-03-16,291,31,343.253,25,1,1,1,8,3
160,1,0,0,0,2016-03-02,260,50,343.253,23,1,4,0,8,3
161,1,0,0,0,2016-03-03,179,26,343.253,19,3,0,0,8,3
162,1,0,0,0,2016-03-04,248,25,343.253,32,1,2,1,3,3
163,1,0,0,0,2016-03-04,260,50,343.253,23,1,4,0,40,3
164,1,0,0,0,2016-03-07,179,22,343.253,22,2,2,0,40,3
165,1,0,0,0,2016-03-14,155,12,343.253,25,1,2,0,16,3
166,0,0,0,1,2016-03-21,260,50,343.253,23,1,4,0,16,3
167,1,0,0,0,2016-03-22,155,12,343.253,25,1,2,0,8,3
168,1,0,0,0,2016-03-24,289,36,343.253,30,1,2,1,8,3
169,1,0,0,0,2016-03-24,179,22,343.253,22,2,2,0,8,3
170,0,0,0,1,2016-03-25,260,50,343.253,23,1,4,0,4,3
171,0,0,0,1,2016-03-25,225,26,343.253,24,1,1,2,1,3
172,1,0,0,0,2016-03-28,279,5,343.253,24,1,2,0,8,3
173,1,0,0,0,2016-03-29,179,51,343.253,31,1,0,0,24,3
174,0,0,0,1,2016-03-30,225,26,343.253,24,1,1,2,2,3
175,1,0,0,0,2016-03-28,225,26,343.253,24,1,1,2,8,3
176,1,0,0,0,2016-03-28,179,26,343.253,19,3,0,0,1,3
177,1,0,0,0,2016-03-29,225,26,343.253,24,1,1,2,8,3
178,1,0,0,0,2016-03-30,225,26,343.253,24,1,1,2,16,3
179,1,0,0,0,2016-03-30,179,51,343.253,31,1,0,0,3,3
180,1,0,0,0,2016-03-17,279,5,343.253,24,1,2,0,16,3
181,0,0,0,1,2016-03-18,225,26,343.253,24,1,1,2,2,3
182,1,0,0,0,2016-03-25,248,25,343.253,32,1,2,1,3,3
183,0,0,0,1,2016-03-28,225,26,343.253,24,1,1,2,1,3
184,0,0,0,1,2016-04-06,291,31,326.452,25,1,1,1,1,4
185,0,0,0,1,2016-04-13,225,26,326.452,24,1,1,2,1,4
186,0,0,0,1,2016-04-12,155,12,326.452,25,1,2,0,1,4
187,1,0,0,0,2016-04-13,246,25,326.452,23,1,0,0,24,4
188,0,0,0,1,2016-04-14,155,12,326.452,25,1,2,0,1,4
189,0,0,0,1,2016-04-15,225,26,326.452,24,1,1,2,2,4
190,0,0,0,1,2016-04-15,260,50,326.452,23,1,4,0,4,4
191,1,0,0,0,2016-04-06,179,51,326.452,31,1,0,0,24,4
192,0,0,0,1,2016-04-07,118,13,326.452,31,1,1,0,1,4
193,0,0,0,1,2016-04-08,291,31,326.452,25,1,1,1,3,4
194,1,0,0,0,2016-04-08,246,25,326.452,23,1,0,0,8,4
195,0,0,0,1,2016-04-22,291,31,326.452,25,1,1,1,1,4
196,0,0,0,1,2016-04-29,248,25,326.452,32,1,2,1,8,4
197,0,0,1,0,2016-04-29,260,50,326.452,23,1,4,0,56,4
198,0,0,1,0,2016-04-26,289,36,326.452,30,1,2,1,8,4
199,1,0,0,0,2016-04-27,155,12,326.452,25,1,2,0,24,4
200,0,0,1,0,2016-04-27,378,49,326.452,21,1,2,4,8,4
201,1,0,0,0,2016-04-28,289,36,326.452,30,1,2,1,16,4
202,1,0,0,0,2016-04-08,235,11,326.452,29,3,1,1,3,4
203,0,0,0,0,2016-04-04,235,29,326.452,33,1,1,5,0,4
204,1,0,0,0,2016-05-04,289,36,378.884,30,1,2,1,8,5
205,0,0,0,1,2016-05-05,155,12,378.884,25,1,2,0,2,5
206,0,0,0,1,2016-05-02,155,12,378.884,25,1,2,0,1,5
207,0,0,1,0,2016-05-03,179,51,378.884,31,1,0,0,8,5
208,0,0,1,0,2016-05-03,225,26,378.884,24,1,1,2,8,5
209,1,0,0,0,2016-05-11,184,42,378.884,21,1,0,0,4,5
210,0,0,0,1,2016-05-09,155,12,378.884,25,1,2,0,2,5
211,1,0,0,0,2016-05-10,179,51,378.884,31,1,0,0,1,5
212,1,0,0,0,2016-05-04,289,36,378.884,30,1,2,1,24,5
213,0,0,0,0,2016-05-11,279,5,378.884,24,1,2,0,0,5
214,0,0,0,0,2016-05-18,330,16,378.884,25,2,0,0,0,5
215,0,0,0,0,2016-05-25,378,49,378.884,21,1,2,4,0,5
216,0,0,0,0,2016-05-25,388,15,378.884,24,1,0,0,0,5
217,1,0,0,0,2016-05-24,179,51,378.884,31,1,0,0,1,5
218,1,0,0,0,2016-05-11,118,13,378.884,31,1,1,0,24,5
219,0,0,0,1,2016-05-27,361,52,378.884,27,1,1,4,8,5
220,0,0,1,0,2016-06-06,246,25,377.550,23,1,0,0,8,6
221,0,0,0,1,2016-06-13,361,52,377.550,27,1,1,4,8,6
222,1,0,0,0,2016-06-14,246,25,377.550,23,1,0,0,24,6
223,0,0,0,1,2016-06-16,291,31,377.550,25,1,1,1,4,6
224,1,0,0,0,2016-06-17,246,25,377.550,23,1,0,0,8,6
225,1,0,0,0,2016-06-13,179,51,377.550,31,1,0,0,8,6
226,0,0,0,1,2016-06-20,155,12,377.550,25,1,2,0,4,6
227,1,0,0,0,2016-06-27,246,25,377.550,23,1,0,0,8,6
228,1,0,0,0,2016-06-29,118,13,377.550,31,1,1,0,8,6
229,1,0,0,0,2016-06-03,235,11,377.550,29,3,1,1,16,6
230,0,0,0,1,2016-06-07,118,13,377.550,31,1,1,0,1,6
231,1,0,0,0,2016-06-08,118,13,377.550,31,1,1,0,80,6
232,0,0,0,1,2016-06-09,378,49,377.550,21,1,2,4,8,6
233,1,0,0,0,2016-06-10,179,51,377.550,31,1,0,0,2,6
234,0,0,0,1,2016-06-20,289,48,377.550,36,1,0,2,2,6
235,0,0,0,1,2016-06-30,225,26,377.550,24,1,1,2,2,6
236,0,0,1,0,2016-07-05,155,12,275.312,25,1,2,0,16,7
237,1,0,0,0,2016-07-06,118,13,275.312,31,1,1,0,8,7
238,1,0,0,0,2016-07-08,118,10,275.312,28,1,0,0,8,7
239,0,0,0,1,2016-07-08,118,10,275.312,28,1,0,0,4,7
240,0,0,0,1,2016-07-12,330,16,275.312,25,2,0,0,8,7
241,0,0,1,0,2016-07-14,179,26,275.312,19,3,0,0,8,7
242,0,0,0,1,2016-07-15,155,12,275.312,25,1,2,0,2,7
243,1,0,0,0,2016-07-18,330,16,275.312,25,2,0,0,8,7
244,1,0,0,0,2016-07-19,330,16,275.312,25,2,0,0,8,7
245,0,0,0,1,2016-07-18,157,27,275.312,22,1,0,0,3,7
246,0,0,0,1,2016-07-19,361,52,275.312,27,1,1,4,8,7
247,0,0,0,1,2016-07-20,289,36,275.312,30,1,2,1,8,7
248,0,0,0,1,2016-07-21,179,51,275.312,31,1,0,0,8,7
249,0,0,1,0,2016-07-11,289,36,275.312,30,1,2,1,32,7
250,0,0,1,0,2016-07-14,289,36,275.312,30,1,2,1,8,7
251,0,0,0,0,2016-07-21,260,50,275.312,23,1,4,0,0,7
252,0,0,1,0,2016-08-04,289,36,265.615,30,1,2,1,8,8
253,0,0,1,0,2016-08-11,157,27,265.615,22,1,0,0,3,8
254,0,0,0,1,2016-08-07,289,36,265.615,30,1,2,1,1,8
255,0,0,1,0,2016-08-08,228,14,265.615,22,1,2,1,8,8
256,1,0,0,0,2016-08-10,300,26,265.615,25,1,2,1,1,8
257,1,0,0,0,2016-08-10,300,26,265.615,25,1,2,1,2,8
258,0,0,0,1,2016-08-11,260,50,265.615,23,1,4,0,4,8
259,0,0,0,1,2016-08-08,289,36,265.615,30,1,2,1,4,8
260,0,0,0,1,2016-08-09,248,25,265.615,32,1,2,1,1,8
261,1,0,0,0,2016-08-10,268,11,265.615,25,2,0,0,8,8
262,0,0,0,1,2016-08-10,179,26,265.615,19,3,0,0,1,8
263,1,0,0,0,2016-08-10,118,13,265.615,31,1,1,0,3,8
264,0,0,0,1,2016-08-14,248,25,265.615,32,1,2,1,2,8
265,0,0,0,1,2016-08-15,235,11,265.615,29,3,1,1,1,8
266,0,0,0,1,2016-08-17,118,13,265.615,31,1,1,0,1,8
267,0,0,1,0,2016-08-24,235,11,265.615,29,3,1,1,8,8
268,1,0,0,0,2016-08-08,361,52,265.615,27,1,1,4,8,8
269,1,0,0,0,2016-08-30,184,42,265.615,21,1,0,0,8,8
270,1,0,0,0,2016-09-05,179,51,294.217,31,1,0,0,8,9
271,0,0,0,1,2016-09-09,179,51,294.217,31,1,0,0,3,9
272,0,0,1,0,2016-09-07,289,36,294.217,30,1,2,1,24,9
273,0,0,0,0,2016-09-08,235,20,294.217,38,1,1,0,0,9
274,1,0,0,0,2016-09-12,246,25,294.217,23,1,0,0,16,9
275,0,0,0,1,2016-09-13,291,31,294.217,25,1,1,1,3,9
276,0,0,0,0,2016-09-13,231,35,294.217,35,1,2,2,0,9
277,0,0,0,0,2016-09-13,291,50,294.217,23,1,0,0,0,9
278,1,0,0,0,2016-09-14,179,51,294.217,31,1,0,0,8,9
279,1,0,0,0,2016-09-14,246,25,294.217,23,1,0,0,32,9
280,0,0,0,1,2016-09-15,179,51,294.217,31,1,0,0,1,9
281,0,0,0,1,2016-09-16,291,31,294.217,25,1,1,1,4,9
282,0,0,0,1,2016-09-16,260,50,294.217,23,1,4,0,4,9
283,0,0,0,1,2016-09-14,235,20,294.217,38,1,1,0,8,9
284,0,0,0,1,2016-09-15,118,13,294.217,31,1,1,0,1,9
285,0,0,0,0,2016-09-15,235,20,294.217,38,1,1,0,0,9
286,0,0,0,1,2016-09-16,291,31,294.217,25,1,1,1,3,9
287,1,0,0,0,2016-09-26,291,31,294.217,25,1,1,1,40,9
288,1,0,0,0,2016-09-26,179,51,294.217,31,1,0,0,8,9
289,0,0,0,1,2016-10-05,289,36,265.017,30,1,2,1,8,10
290,0,0,0,1,2016-10-05,235,11,265.017,29,3,1,1,4,10
291,0,0,0,1,2016-10-05,289,36,265.017,30,1,2,1,8,10
292,0,0,0,1,2016-10-06,289,36,265.017,30,1,2,1,8,10
293,0,0,0,0,2016-10-06,118,13,265.017,31,1,1,0,0,10
294,0,0,0,0,2016-10-06,248,25,265.017,32,1,2,1,0,10
295,1,0,0,0,2016-10-12,179,26,265.017,19,3,0,0,8,10
296,1,0,0,0,2016-10-12,118,10,265.017,28,1,0,0,3,10
297,0,0,0,1,2016-10-12,369,17,265.017,25,1,3,0,8,10
298,0,0,0,1,2016-10-14,179,51,265.017,31,1,0,0,1,10
299,1,0,0,0,2016-10-14,179,26,265.017,19,3,0,0,64,10
300,0,0,0,0,2016-10-14,235,20,265.017,38,1,1,0,0,10
301,0,0,1,0,2016-10-15,289,36,265.017,30,1,2,1,16,10
302,0,0,0,1,2016-10-16,260,50,265.017,23,1,4,0,3,10
303,0,0,0,0,2016-10-16,235,20,265.017,38,1,1,0,0,10
304,0,0,0,1,2016-10-19,235,20,265.017,38,1,1,0,2,10
305,0,0,0,1,2016-10-19,235,20,265.017,38,1,1,0,2,10
306,0,0,0,1,2016-10-20,118,13,265.017,31,1,1,0,1,10
307,0,0,0,1,2016-10-20,291,31,265.017,25,1,1,1,4,10
308,0,0,0,1,2016-10-22,179,26,265.017,19,3,0,0,16,10
309,0,0,0,1,2016-10-22,118,13,265.017,31,1,1,0,1,10
310,1,0,0,0,2016-10-26,361,52,265.017,27,1,1,4,8,10
311,0,0,0,0,2016-10-27,260,50,265.017,23,1,4,0,0,10
312,0,0,0,0,2016-10-27,291,31,265.017,25,1,1,1,0,10
313,0,0,0,0,2016-10-27,157,27,265.017,22,1,0,0,0,10
314,1,0,0,0,2016-10-28,179,26,265.017,19,3,0,0,5,10
315,1,0,0,0,2016-10-28,179,26,265.017,19,3,0,0,5,10
316,0,0,0,1,2016-10-29,118,13,265.017,31,1,1,0,1,10
317,1,0,0,0,2016-11-07,118,10,284.031,28,1,0,0,8,11
318,0,0,0,1,2016-11-07,248,25,284.031,32,1,2,1,2,11
319,1,0,0,0,2016-11-08,179,51,284.031,31,1,0,0,8,11
320,0,0,0,1,2016-11-11,260,50,284.031,23,1,4,0,3,11
321,0,0,0,1,2016-11-14,291,31,284.031,25,1,1,1,1,11
322,1,0,0,0,2016-11-14,378,49,284.031,21,1,2,4,8,11
323,1,0,0,0,2016-11-14,155,12,284.031,25,1,2,0,120,11
324,0,0,0,1,2016-11-14,235,20,284.031,38,1,1,0,8,11
325,0,0,0,0,2016-11-15,330,16,284.031,25,2,0,0,0,11
326,0,0,1,0,2016-11-16,235,11,284.031,29,3,1,1,1,11
327,1,0,0,0,2016-11-16,118,10,284.031,28,1,0,0,3,11
328,0,0,0,1,2016-11-17,235,11,284.031,29,3,1,1,2,11
329,0,0,0,1,2016-11-17,179,51,284.031,31,1,0,0,3,11
330,1,0,0,0,2016-11-18,246,25,284.031,23,1,0,0,8,11
331,1,0,0,0,2016-11-18,291,31,284.031,25,1,1,1,4,11
332,1,0,0,0,2016-11-21,246,25,284.031,23,1,0,0,8,11
333,0,0,0,1,2016-11-22,179,51,284.031,31,1,0,0,1,11
334,1,0,0,0,2016-11-23,260,50,284.031,23,1,4,0,8,11
335,0,1,0,0,2016-11-25,260,50,284.031,23,1,4,0,8,11
336,0,0,0,0,2016-11-25,378,49,284.031,21,1,2,4,0,11
337,0,0,0,0,2016-11-29,279,5,284.031,24,1,2,0,0,11
338,0,0,0,1,2016-11-24,179,51,284.031,31,1,0,0,1,11
339,1,0,0,0,2016-12-05,225,26,236.629,24,1,1,2,3,12
340,0,0,0,1,2016-12-05,179,51,236.629,31,1,0,0,2,12
341,0,0,0,1,2016-12-05,179,51,236.629,31,1,0,0,1,12
342,0,0,0,1,2016-12-05,235,11,236.629,29,3,1,1,3,12
343,0,0,0,1,2016-12-06,118,13,236.629,31,1,1,0,1,12
344,0,0,0,1,2016-12-09,260,50,236.629,23,1,4,0,4,12
345,1,0,0,0,2016-12-15,246,25,236.629,23,1,0,0,8,12
346,0,0,0,1,2016-12-15,179,51,236.629,31,1,0,0,1,12
347,0,0,0,1,2016-12-16,179,51,236.629,31,1,0,0,1,12
348,0,0,0,1,2016-12-20,179,26,236.629,19,3,0,0,1,12
349,0,0,0,1,2016-12-20,118,10,236.629,28,1,0,0,8,12
350,0,0,0,1,2016-12-22,235,11,236.629,29,3,1,1,2,12
351,0,0,0,1,2016-12-23,179,51,236.629,31,1,0,0,1,12
352,1,0,0,0,2016-12-20,235,20,236.629,38,1,1,0,8,12
353,1,0,0,0,2016-12-20,235,11,236.629,29,3,1,1,4,12
354,0,0,0,1,2016-12-21,260,50,236.629,23,1,4,0,8,12
355,0,0,0,1,2016-12-19,157,27,236.629,22,1,0,0,2,12
356,0,0,0,1,2016-12-19,179,51,236.629,31,1,0,0,3,12
357,0,0,1,0,2016-12-19,289,36,236.629,30,1,2,1,8,12
358,0,0,0,1,2017-01-04,225,26,330.061,24,1,1,2,5,1
359,0,0,1,0,2017-01-09,118,10,330.061,28,1,0,0,32,1
360,0,0,0,1,2017-01-09,155,12,330.061,25,1,2,0,2,1
361,1,0,0,0,2017-01-03,235,11,330.061,29,3,1,1,1,1
362,0,0,0,1,2017-01-03,155,12,330.061,25,1,2,0,4,1
363,0,0,0,1,2017-01-09,289,36,330.061,30,1,2,1,8,1
364,1,0,0,0,2017-01-11,291,31,330.061,25,1,1,1,8,1
365,0,0,0,1,2017-01-16,235,20,330.061,38,1,1,0,8,1
366,0,0,0,1,2017-01-16,118,13,330.061,31,1,1,0,4,1
367,0,0,0,1,2017-01-25,179,51,330.061,31,1,0,0,1,1
368,0,0,0,1,2017-01-27,179,51,330.061,31,1,0,0,1,1
369,0,0,0,1,2017-02-07,118,10,251.818,28,1,0,0,2,2
370,0,0,0,1,2017-02-01,179,51,251.818,31,1,0,0,3,2
371,1,0,0,0,2017-02-01,225,26,251.818,24,1,1,2,1,2
372,0,0,0,1,2017-02-03,289,36,251.818,30,1,2,1,3,2
373,0,0,0,1,2017-02-10,260,50,251.818,23,1,4,0,3,2
374,0,0,0,1,2017-02-17,179,51,251.818,31,1,0,0,3,2
375,0,0,0,1,2017-02-13,179,51,251.818,31,1,0,0,2,2
376,0,0,0,1,2017-02-15,179,51,251.818,31,1,0,0,3,2
377,1,0,0,0,2017-02-16,179,51,251.818,31,1,0,0,8,2
378,0,0,0,1,2017-02-16,246,25,251.818,23,1,0,0,8,2
379,0,0,0,1,2017-02-17,179,51,251.818,31,1,0,0,3,2
380,0,0,0,1,2017-02-13,189,29,251.818,25,1,2,2,8,2
381,0,0,0,1,2017-02-13,179,51,251.818,31,1,0,0,3,2
382,0,0,0,1,2017-02-21,246,25,251.818,23,1,0,0,2,2
383,0,0,0,1,2017-02-21,291,31,251.818,25,1,1,1,2,2
384,1,0,0,0,2017-02-22,157,27,251.818,22,1,0,0,16,2
385,0,0,0,1,2017-02-22,179,51,251.818,31,1,0,0,3,2
386,0,0,0,1,2017-02-24,179,51,251.818,31,1,0,0,3,2

In [69]:
def date_to_weekday(date_time):
    return date_time.weekday()

In [70]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [72]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,239.554,30,1,2,1,2,7,3

In [75]:
df_reason_mod = df_reason_mod.drop(['Date'], axis =1 )

KeyError: "['Date'] not found in axis"

In [77]:
df_reason_mod.head()
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [78]:
col_name = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
            'Month Value', 'Day of the Week',
       'Transportation Expense', 'Distance to Work',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
df_reason_mod = df_reason_mod[col_name]
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,239.554,30,1,2,1,2

In [79]:
df_reason_date_mod = df_reason_mod.copy()

In [80]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [81]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [83]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})
df_reason_date_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,239.554,30,0,2,1,2

In [84]:
df_preprocessed = df_reason_date_mod.copy()

In [85]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index = False)

In [ ]:
targets = np.where(data_preprocessed[])